@use "./variables";

// ----
// Helper classes
// ----

.wrapper {
	max-width: variables.$screen-lg; // I'm using a pretty narrow wrapper, you might want this to be $screen-lg depending on your layout.
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

.wrapper--narrow {
	max-width: 600px; // I'm using a pretty narrow wrapper, you might want this to be $screen-lg depending on your layout.
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes flicker-shadow {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		filter: drop-shadow(
			0px 0px 18px transparentize(variables.$blue, 0.0125)
		);
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		filter: drop-shadow(0px 0px 18px transparentize(variables.$blue, 0.5));
	}
}

@keyframes flicker-background-red {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		background: transparentize(variables.$red, 0.0);
		box-shadow: 0px 0px 18px transparentize(variables.$red, 0.0125);
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		background: transparentize(variables.$red, 0.05);
		box-shadow: 0px 0px 18px transparentize(variables.$red, 0.5);
	}
}