// ---
// Variables
// ---

// ---
// Screen sizes
// ---

$screen-xs: 460px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1280px;

// ---
// Colors
// ---

$teal: #56B2BA;
$blue: #0B78E3;
$yellow: #FACE15;
$pink: #FD51D9;
$red: #FF2366;
$green: #6859EA;
$white: #ffffff;
$dark-main: #161823;
$dark-secondary: #0E0F1A;

$orange-gradient: linear-gradient(#fd3f2f 0%, #face15 100%);
$pink-gradient: linear-gradient(#8d4de8 0%, #ff2366 100%);
$blue-gradient: linear-gradient(#6956ec 0%, #56b2ba 100%);