@use "../utility/variables";
@use "../utility/mixins";

// ---
// Buttons
// ---
.button {
	border-radius: 0.5rem;
	background: variables.$blue;
	border: 1px solid variables.$blue;
	color: variables.$white;
	line-height: 1;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.2;
	text-decoration: none;
	margin: 2rem auto;
	transition: all 284ms ease;
	svg {
		margin-left: 0.5rem;
	}
	&--ghost {
		background: transparent;
		color: white;
		border-color: white;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		background: variables.$red;
		border-color: variables.$red;
		color: white;
		animation: flicker-background-red 5s linear infinite alternate;
	}
}

.button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
	&:hover,
	&:focus {
		background-color: variables.$blue !important;
		border: 1px solid variables.$blue !important;
		color: variables.$white !important;
		animation: none !important;
	}
}
