@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
	box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
	text-decoration: inherit;
	/* 1 */
	vertical-align: inherit;
	/* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
	cursor: default;
	/* 1 */
	line-height: 1.5;
	/* 2 */
	-moz-tab-size: 4;
	/* 3 */
	tab-size: 4;
	/* 3 */
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	/* 5 */
	-webkit-text-size-adjust: 100%;
	/* 5 */
	word-break: break-word;
	/* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
	margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
	margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
	color: inherit;
	/* 1 */
	height: 0;
	/* 2 */
	overflow: visible;
	/* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
	display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
	list-style: none;
	padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
nav li::before {
	content: '​';
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
	overflow: auto;
	/* 3 */
	-ms-overflow-style: scrollbar;
	/* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
	border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
	border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
	border-collapse: collapse;
	/* 1 */
	border-color: inherit;
	/* 2 */
	text-indent: 0;
	/* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
	margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
	overflow: visible;
	/* 1 */
	text-transform: none;
	/* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
	border: 1px solid #a0a0a0;
	/* 1 */
	padding: 0.35em 0.75em 0.625em;
	/* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
	overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	white-space: normal;
	/* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
	text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
	margin: 0;
	/* 1 */
	overflow: auto;
	/* 2 */
	resize: vertical;
	/* 3 */
	resize: block;
	/* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
	padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
	box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
	display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
	background-color: white;
	border: solid;
	color: black;
	display: block;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

dialog:not([open]) {
	display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
	display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy='true'] {
	cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
	cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled='true'],
[disabled] {
	cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden='false'][hidden] {
	display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

.wrapper--narrow {
	max-width: 600px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes flicker-shadow {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		filter: drop-shadow(0px 0px 18px rgba(11, 120, 227, 0.9875));
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		filter: drop-shadow(0px 0px 18px rgba(11, 120, 227, 0.5));
	}
}
@keyframes flicker-background-red {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		background: #ff2366;
		box-shadow: 0px 0px 18px rgba(255, 35, 102, 0.9875);
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		background: rgba(255, 35, 102, 0.95);
		box-shadow: 0px 0px 18px rgba(255, 35, 102, 0.5);
	}
}
html {
	font-family: 'Heebo', sans-serif;
}

code,
kbd,
samp,
pre {
	font-family: 'Menlo', 'Consolas', 'Roboto Mono', 'Ubuntu Monospace',
		'Noto Mono', 'Oxygen Mono', 'Liberation Mono', monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.hero h1 {
	font-size: 58px;
	letter-spacing: -0.01em;
	line-height: 64px;
}

h1 {
	font-size: 40px;
	line-height: 42px;
}

h2 {
	font-size: 28px;
	letter-spacing: -0.01em;
	line-height: 36px;
}

h3 {
	font-size: 18px;
	line-height: 26px;
}

p {
	margin: 0 0 1rem 0;
}

a {
	color: white;
}

.button {
	border-radius: 0.5rem;
	background: #0b78e3;
	border: 1px solid #0b78e3;
	color: #ffffff;
	line-height: 1;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.2;
	text-decoration: none;
	margin: 2rem auto;
	transition: all 284ms ease;
}
.button svg {
	margin-left: 0.5rem;
}
.button--ghost {
	background: transparent;
	color: white;
	border-color: white;
}
.button:hover,
.button:focus {
	cursor: pointer;
	background: #ff2366;
	border-color: #ff2366;
	color: white;
	animation: flicker-background-red 5s linear infinite alternate;
}

.button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}
.button[disabled]:hover,
.button[disabled]:focus {
	background-color: #0b78e3 !important;
	border: 1px solid #0b78e3 !important;
	color: #ffffff !important;
	animation: none !important;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'] {
	border-radius: 0.5rem;
	background: white;
	border: 1px solid white;
	color: #161823;
	line-height: 1;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.2;
	text-decoration: none;
	margin: 2rem 0 2rem;
	transition: all 284ms ease;
	width: 100%;
}
html {
	scroll-behavior: smooth;
}

body {
	background: #161823;
	color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border: 0 none;
	border-top: 3px solid #ffffff;
	display: block;
	margin-top: 3rem;
	margin-bottom: 3rem;
	opacity: 0.18;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 1rem 0 1rem;
	background: #0e0f1a;
}
.header-logo {
	margin: 0 0 -1rem;
}
.header-logo-svg {
	width: 300px;
	filter: drop-shadow(0px 0px 18px rgba(11, 120, 227, 0.75));
	animation: flicker-shadow 6s linear infinite alternate;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5rem 0;
	background: linear-gradient(to right, #0e0f1a, #161823);
}
.hero-media {
	flex: 1 1 250px;
	margin: 0;
	position: sticky;
	top: -5rem;
	z-index: 1;
	pointer-events: none;
}
.hero-media img {
	position: sticky;
	top: -3rem;
	display: none;
}
.hero-media img.active {
	display: block;
}
.hero-text {
	flex: 0 1 450px;
	margin: 2rem;
}
@media (min-width: 767px) {
	.hero-text {
		margin: 3rem 10% 3rem 0;
	}
}
.hero-text-sup {
	margin-bottom: 0;
	color: #ff2366;
	text-transform: uppercase;
	font-weight: 500;
}
.hero-text-h1 {
	margin: 0.25rem 0 1rem;
}
.hero-text-h2 {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}
.hero-text-h2 span {
	flex: 1 1 400px;
}
.hero-text-h2 .button {
	flex: 0 0 150px;
	margin: 0 1rem;
	display: block;
}

.customizer {
	padding: 2rem 0;
}
.customizer .wrapper {
	max-width: 900px;
}
.customizer fieldset {
	border: 0 none;
	padding: 0;
	margin: 2rem 0 0 0;
	border-top: 3px solid rgba(255, 255, 255, 0.1);
}
.customizer legend {
	font-size: 2.5rem;
	padding-right: 1.5rem;
	margin: 0 0 1rem;
}
.customizer ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: -1rem;
}
.customizer-option {
	margin: 1rem;
	flex: 1 1 170px;
}
.customizer-option-image {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	margin-right: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.25);
	opacity: 0.6;
	border-radius: 0.25rem;
}
.customizer-option-image svg {
	display: block;
	flex: 40px;
}
.customizer-option-text {
	flex: 1 1 100px;
	font-size: 1.25rem;
	opacity: 0.65;
	line-height: 1;
}
.customizer-option-text b {
	display: block;
	font-size: 1.5rem;
}
.customizer-option label {
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	transition: 400ms ease;
	cursor: pointer;
	background: transparent;
}
.customizer-option input[type='radio'] {
	position: absolute;
	visibility: hidden;
}
.customizer-option input[type='radio']:hover ~ label,
.customizer-option input[type='radio']:focus ~ label {
	border-color: white;
	background: rgba(255, 255, 255, 0.1);
}
.customizer-option input[type='radio']:checked ~ label {
	border-color: white;
	background: rgba(255, 255, 255, 0.1);
}
.customizer-option input[type='radio']:checked ~ label .customizer-option-text,
.customizer-option
	input[type='radio']:checked
	~ label
	.customizer-option-image {
	opacity: 1;
}
.customizer-option--quantity label {
	border-color: white;
}
.customizer-option--quantity .customizer-option-text {
	opacity: 1;
}
.customizer-option--quantity .customizer-option-image {
	opacity: 1;
	padding: 0;
	width: 70px;
}
.customizer-option--quantity .customizer-option-image input#quantity {
	padding: 0 0.75rem;
	font-size: 1rem;
	height: 100%;
	width: 100%;
	border-radius: 0.25rem;
	background: rgba(255, 255, 255, 0.1);
	color: white;
}
.customizer-option--price {
	font-size: 4rem;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.customizer-option--checkout {
	text-align: center;
}
.customizer-option--checkout .button {
	margin: 0;
	width: 100%;
}

.app-page main {
	margin: 3rem 0;
}
.app-page .scanning {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: all 250ms ease;
	z-index: 1;
}
.app-page .scanning.hidden {
	opacity: 0;
	visibility: hidden;
	transition: all 250ms ease;
}
.app-page .scanning:before {
	content: '';
	position: absolute;
	background: black;
	opacity: 0.5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.app-page .scanning div {
	position: relative;
}
.app-page .scanning span {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 0.5rem;
	background: white;
	opacity: 0.5;
	border-radius: 50%;
	animation: 1s fade infinite alternate;
}
.app-page .scanning span:nth-child(2) {
	animation-delay: 0.2s;
}
.app-page .scanning span:nth-child(3) {
	animation-delay: 0.4s;
}
.app-page .no-results {
	text-align: center;
	opacity: 1;
	transition: all 250ms ease;
	padding: 1rem;
	visibility: visible;
}
.app-page .no-results.hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 250ms ease;
}
.app-page .lights {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.app-page .lights-item {
	position: relative;
	background: none;
	border: 0 none;
	margin: 1rem;
	filter: drop-shadow(0px 0px 18px rgba(104, 89, 234, 0.875));
}
.app-page .lights-item .lights-item-price,
.app-page .lights-item .lights-item-symbol {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
.app-page .lights-item .lights-item-price {
	margin-top: 1.25rem;
}
.app-page .lights-item:hover,
.app-page .lights-item:focus {
	filter: drop-shadow(0px 0px 18px rgba(255, 35, 102, 0.875));
	outline: 0;
	cursor: pointer;
}
.app-page dialog {
	border: 0 none;
	background: rgba(0, 0, 0, 0.875);
	color: white;
	width: 100%;
	height: 100%;
	top: 0;
}
.app-page dialog::backdrop {
	backdrop-filter: blur(10px);
}
.app-page dialog fieldset {
	margin: 1rem;
	border-left: 0 none;
	border-right: 0 none;
	border-bottom: 0 none;
}
.app-page dialog legend {
	padding: 0 1rem;
	display: inline-block;
	font-size: 2rem;
}
.app-page dialog label {
	text-transform: capitalize;
}
.app-page dialog .category-fieldset-items {
	display: flex;
}
.app-page dialog .category-fieldset-items-item {
	flex: 1;
	text-align: center;
}
.app-page dialog .category-fieldset-items-item input[type='radio'] {
	position: absolute;
	visibility: hidden;
}
.app-page dialog .category-fieldset-items-item label {
	display: block;
	padding: 1rem;
	border: 1px solid white;
	opacity: 0.75;
	border-radius: 0.5rem;
	margin: 1rem;
}
.app-page
	dialog
	.category-fieldset-items-item
	input[type='radio']:checked
	~ label {
	opacity: 1;
}
.app-page dialog .symbol-fieldset input {
	margin: 0.5rem 0;
}

.footer {
	margin-top: auto;
	padding: 1rem;
	opacity: 0.45;
}
